body{
    margin: 0px;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
#highlight{
    color: rgba(20, 238, 30, 0.767);
}
.half-width{
    width: 45%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
}
.bg-image{
    background-image: url(image/image\ 13.png);
    height: 350px;
    padding-top: 1px;
}

.top-bannar{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
    
}
section{height:500px;}
.button {
    background-image: linear-gradient(45deg,rgb(229, 164, 153),rgb(216, 69, 25));
    color: white;
    text-decoration: none;
    padding: 10px 20px;          
    border-radius: 5px;
}
a:hover{
    background-image: linear-gradient(45deg,rgb(137, 223, 162),rgb(17, 185, 59));
    font-weight: 700;
    color: cornsilk;
}
.mamun{
    box-shadow: 10px 10px 40px;
    height: 300px;
    text-align: center;
    width: 43%;
    background-color: white;
    border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(218, 133, 85), rgb(247, 106, 11));
    border-image-slice:1;
}
.shohage{
    box-shadow: 10px 10px 40px;
    height: 300px;
    text-align: center;
    width: 43%;
    border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(125, 120, 194), rgb(35, 11, 247));
    border-image-slice:1;
    background-color: white;
   
}
.education{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    text-align-last: center;
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
}
footer{
    text-align: center;
    font-size: 10px;
}